.about-us-row {
  margin-top: 20vh;
}
.header-about-us {
  background-color: rgba(35, 84, 57, 0.75);
  border-radius: 30px;
}
.header-col {
  font-size: 19px;
  color: white;
  padding-top: 21px;
  padding-bottom: 20px;
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  height: 100%;
}
.vl.down {
  height: 320px;
}
li.borderless {
  border: 0 none;
}
.inner-circle{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #235439;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
}

.inner-circle.left {
  position: absolute;
  top: 50vh;
  left: 15%;

}

.inner-circle.right {
  position: absolute;
  top: 50vh;
  left: 80%;
}
.arrow-left {
  font-size: 25px;
  position: absolute;
  top: 20%;
  left: 20%;
}
.arrow-right {
  font-size: 25px;
  position: absolute;
  top: 20%;
  left: 20%;
}
